<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add products</title>
    <!-- <style>
      .nav {
        display: flex;
        list-style: none;
        justify-content: space-around;
        background-color: aqua;
      }
    </style> -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="nav">
      <li><a href="/">Shop</a></li>
      <li><a href="/admin/add-product">Add Product</a></li>
    </nav>
    <form action="/admin/add-product" method="POST">
      <input type="text" name="title" />
      <button type="submit">Add product</button>
    </form>
  </body>
</html>
